<template>
    <footer v-show="show" class="footer">
        <div class="footer row">
            <div class="col" ref="playerDetails">
                <router-link to="/favorites">
                    <div class="tooltip">
                        <i class="fa fa-heart"></i>
                        <span class="tooltiptext-up">Favorites</span>
                    </div>
                </router-link>
            </div>
            <div class="col" ref="playerControls">
                <router-link to="/search">
                    <div class="tooltip">
                        <i class="fa fa-search"></i>
                        <span class="tooltiptext-up">Search</span>
                    </div>
                </router-link>
            </div>
            <div class="col" ref="bottomBarControlls">
                <router-link to="/search">
                    <div class="tooltip">
                        <i class="fa fa-search"></i>
                        <span class="tooltiptext-up">Search</span>
                    </div>
                </router-link>
            </div>
            <div class="col">
                <router-link to="/about">
                    <div class="tooltip">
                        <i class="fa fa-info"></i>
                        <span class="tooltiptext-up">About</span>
                    </div>
                </router-link>
            </div>
        </div>
    </footer>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    name: 'BottomBar',
    data(){
        return {

        }
    },
    computed:{
      ...mapGetters(['isAuthenticated', 'loggedIn']),
      show: function(){
          return this.isAuthenticated;
      }
    }
}
</script>
<style lang="css" scoped>
      /* page footer */
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: var(--primaryColor);
        margin-top: 0;
        z-index: 999;
        align-items: center;
        justify-content: space-around;
        background-color: var(--primaryDark);
        border-top: 3px solid var(--primaryColor);
        flex-direction: row !important;
    }

    .footer .row {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer .row .col {
        margin: 0;
        padding: 0.5rem;
        width: 100%;
    }

    .footer .row .col i {
        margin: auto;
    }

    .footer .row .col:nth-child() {
        border-right: 1px solid var(--primaryColor);
        border-left: 1px solid var(--primaryColor);
    }

</style>