<template>
      <div v-if="!collapse" id="collapseRow" class="row align-center mobile-hide ml-1 mr-1">
            <router-link :class="releasesClass" id="releasesLink" to="/about" class="route-link" exact >
                <div class="tooltip">
                    Releases
                    <span class="tooltiptext-down">View releases by date</span>
                </div>
            </router-link>
            
            <router-link :class="specialtyClass"
                to="/specialty-releases/" >
                <div class="tooltip">
                    Specialty Videos
                    <span class="tooltiptext-down mx-auto">View specialty releases</span>
                </div>
            </router-link>
            <router-link class="nav-link nav_button route-link" to="/about" exact >
                <div class="tooltip">
                    Charts
                    <span class="tooltiptext-down mx-auto">View subscribed charts</span>
                </div>
            </router-link>

            <div class="d-flex ml-auto flex-grow-1 align-center justify-end">
              
                <div class="search-container">
                    <div class="row w-auto">
                        <div class="mobile-row">
                            <input v-model="searchTerm" @keyup.enter="searchFunc($event)" ref="search" type="text" placeholder="Search.." name="search">
                            <button @click.prevent="searchFunc($event)" type="submit" ref="searchBtn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <router-link :class="downloadClass"  to="/about" exact>
                    <div class="tooltip">
                        <i class="fa fa-download actionItem px-sm" style="color:#fff;"></i>
                        <span class="tooltiptext-down" style="width:100%">View Queue</span>
                    </div>
                    <!-- <b-badge id="queueBadge" variant="info" style="vertical-align:top;">{{this.queueCount}}</b-badge> -->
                    <!-- <b-badge id="queueBadge" variant="info" style="vertical-align:top;">{{ this.downloadQueueCount || 0 }}</b-badge> -->

                    <!-- <span v-if="queueLoaded" id="queueBadge" class="badge badge-info" style="vertical-align:top; font-size:.8rem;">{{ queueCount }}</span>
                    <span v-else id="queueBadge" class="badge badge-info" style="vertical-align:top;"><b-spinner small type="grow"></b-spinner></span> -->
                </router-link>
                <router-link :class="optionsClass" to="/options/account" exact> 
                    <div class="tooltip">
                        <i class="fa fa-cog actionItem px-sm" style="color:#fff;"></i>
                        <span class="tooltiptext-down" style="width:100%">View Options</span>
                    </div>
                </router-link>
<!--                 <router-link class="nav-link nav_button" to="/options/account" exact> <i class="fa fa-cog actionItem" style="color:#fff;"></i></router-link>
 -->                <router-link  class="nav-link nav_button login-link" to="/login" exact>
                        <div class="tooltip">
                            <i class="fa fa-user px-sm" style="color:#fff;"></i> Login
                            <span class="tooltiptext-down txt-center" >Sign in / out</span>
                        </div>
                    </router-link>
                <!-- <router-link  class="nav-link nav_button login-link" to="/logout" exact>Logout</router-link>
                <a class="nav-link nav_button login-link" href="#" ><i class="fa fa-user" style="color:#fff;"></i> Login</a> -->

            </div> 
        </div>
        
        <div v-else class="mobile-container mobile">
            <div class="topnav">
            <a href="#home" class="active">Logo</a>
            <div id="myLinks">
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
            </div>
            <a href="javascript:void(0);" class="icon" @click="toggleMenu">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </div>
       
</template>
<script>
import router from "../../router/index.js";
export default {
    name:"Nav",
    props:{

    },
    data(){
        return{
            collapse: false,
            searchTerm: ""
        }
    },
    computed:{
        releasesClass: function(){
            const {value} = router.currentRoute;
            //console.log(value.path.includes('/releases'))
            return (value === '/' ||
                    value === '/releases' ||
                    value.path.includes('/releases/tracks')  ||
                    value.path.includes('/releases/genres')   ||
                    value.path.includes('/releases/formats')  ||
                    value.path === '') ? 
                    'nav-link nav_button router-link-active activeRoute' : 
                    'nav-link nav_button route-link';
        },
        specialtyClass: function(){
            const {value} = router.currentRoute;
            return (value.path === '/specialty-releases' || value.path.includes ('/specialty-releases/decades')) ? 
                'nav-link nav_button router-link-active activeRoute' : 
                'nav-link nav_button route-link'
        },
        
        optionsClass: function(){
            const {value} = router.currentRoute;
            return value.path.includes('/options') ? 'nav-link nav_button router-link-active activeRoute' : 'nav-link nav_button'
        },
        downloadClass: function(){
            const {value} = router.currentRoute;
            return value.path.includes('/download-') ? 'nav-link nav_button router-link-active activeRoute' : 'nav-link nav_button'
        }
    },
    methods:{
        toggleMenu:function(){
            let link = document.getElementById("myLinks");
            if (link.style.display === "block") {
                link.style.display = "none";
            } else {
                link.style.display = "block";
            }

            document.getElementById("myLinks").querySelectorAll("a").forEach((link) =>{
                //console.log(link)
                if (link.style.display === "block") {
                    link.style.display = "none";
                } else {
                    link.style.display = "block";
                }
            });
        }
    }
    
}
</script>
<style lang="css" scoped>
    .nav_button:hover {
        background-color: #d0141e;
    }

    .nav_button{
        font-family: bar_semibold;
        text-transform: uppercase;
        font-size: 1rem;
    }

    .nav-link {
        color: #FFF !important;
        opacity: 1 !important;
        display: inline;
        
        text-decoration: none;
    }

    .link-pad{
        padding: 14px 20px;
    }

    .search-row{
        display:flex;
        
        justify-content: space-evenly;
    }
    .search-container{
        margin:0px auto;
    }
    .search-container {
        /* border: 1px solid var(--primaryColor); */
       
    }
    .fa-download .actionItem{

    }   

    .search-container input {
        padding: 0.5rem;
        border: 0px;
        color: var(--primaryDark);
        background-color: var(--secondaryLight);
    }

    .search-container input:focus {
        outline: 1px solid var(--primaryLight);
    }

    .search-container button {
        margin-left: auto;
        padding: 0.5rem;
        font-size: 0.825rem;
        border: 0px !important;
        cursor: pointer;
        background-color: var(--secondaryLight);
        color: var(--primaryColor);
    }
    /* sync button outline to match outline of search when focused */
    input:focus + button {
        box-shadow: 0 -1px 0 var(--primaryLight),
                    1px 0 0 var(--primaryLight),
                    0 1px 0 var(--primaryLight),
                    0 0 0 var(--primaryLight)
        
    }

  

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.route-link{
    width:200px;
    
}
    
</style>