<template>
    <div v-if="auth" class="mt-xl">
        <div id="mySidenav" class="sidenav">
            <!-- <transition-group name="fade" mode="out-in">

            </transition-group> -->
            <div class="filterContainer" >
                <div>

                    <!-- MEDIA TYPE -->
                    <div class="d-flex " style="align-items:center; padding-left:4px; margin-bottom:5px;">
                        <div>
                            <i class="media-arrow-right fa fa-angle-right w3-large" id="audio_media_caret"></i>
                        </div>
                        <h5 class="flex main-font-semi item-header w3-margin-left" style="text-align:left; margin-bottom:0px;">MEDIA TYPE</h5>
                        <div class="flex-grow ml-auto">
                        <!--  <i class="media-close fa fa-times-circle-o p-1" style="float:right; color:grey; visibility:hidden;"></i> -->
                        </div>
                    </div>
                    <div id="media-filters" class="row mb-sm">
                        <div class="col-50" style="padding:0px;">
                            <button  id="audioFilter" type="button" class="btn btn-outline-primary filter-btn activeBtn"  style="color:black; border-radius:16px; border-color:black; padding:2px 15px 2px 15px">audio</button>
<!--                             <button v-else id="audioFilter" type="button" class="btn btn-outline-primary filter-btn" @click="toggleMediaType('audio')" style="color:black; border-radius:16px; border-color:black; padding:2px 15px 2px 15px">audio</button>
 -->                        </div>
                        <div class="col-50" style="padding:0px;">
                            <button  id="videoFilter" type="button" class="btn btn-outline-primary filter-btn activeBtn"  style="color:black; border-radius:16px; border-color:black; padding:2px 15px 2px 15px">video</button>
<!--                             <button v-else id="videoFilter" type="button" class="btn btn-outline-primary filter-btn" @click="toggleMediaType('video')" style="color:black; border-radius:16px; border-color:black; padding:2px 15px 2px 15px">video</button>
 -->                        </div>
                        <div class="row align-items-center justify-content-center mt-1 w-100">
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <input type="checkbox" id="downloadedMedia"  :true-value="1" :false-value="0" >
                                            <label for="downloadedMedia">Hide Downloaded Media</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- GENRE -->
                    <div class="d-flex filterChange align-center pl-sm mb-xs" >
                        <div>
                            <i class="genre-arrow-right fa fa-angle-right w3-large" id="audio_genre_caret"></i>
                        </div>
                        <h5 class="px-sm">GENRE</h5>
                        <div class="flex-grow ml-auto">
                            <!-- <i class="genre-close fa fa-times-circle-o p-1" style="float:right; color:grey; visibility:hidden;"></i> -->
                        </div>
                    </div>
                    <div id="genre-filters" class="row align-center justify-around text-left" >
                         <div class="col-6" style="align-items:left; padding:0px;">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="checkbox" >
                                                        <input type="checkbox" id="top_40"  :true-value="0" :false-value="1" v-model="filters[`Top_40`].hide">
                                                        <label for="top_40">Top 40</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox" >
                                                        <input type="checkbox" id="urban"  :true-value="0" :false-value="1" v-model="filters[`Urban`].hide">
                                                        <label for="urban">Urban</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="rock"  :true-value="0" :false-value="1" v-model="filters[`Rock`].hide">
                                                        <label for="rock">Rock</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox" >
                                                        <input type="checkbox" id="electronic"  :true-value="0" :false-value="1" v-model="filters[`Electronic`].hide">
                                                        <label for="electronic">Electronic</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox"  >
                                                        <input type="checkbox" id="compilation"  :true-value="0" :false-value="1" v-model="customFilters[`Compilation`].hide">
                                                        <label for="compilation">Compilation</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6" style="align-items:left; padding:0px;">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="checkbox"  >
                                                        <input type="checkbox" id="country"  :true-value="0" :false-value="1" v-model="filters[`Country`].hide">
                                                        <label for="country">Country</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox" >
                                                        <input type="checkbox" id="dance"  :true-value="0" :false-value="1" v-model="filters[`Dance`].hide">
                                                        <label for="dance">Dance</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox">
                                                        <input type="checkbox" id="christian"  :true-value="0" :false-value="1" v-model="filters[`Christian`].hide">
                                                        <label for="christian">Christian</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox" >
                                                        <input type="checkbox" id="latin"  :true-value="0" :false-value="1" v-model="filters[`Latin`].hide">
                                                        <label for="latin">Latin</label>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="checkbox" >
                                                        <input type="checkbox" id="alternative"  :true-value="0" :false-value="1" v-model="filters[`Alternative`].hide">
                                                        <label for="alternative">Alternative</label>
                                                    </div>
                                                </li>
                                            </ul>
                                            
                                        </div>
                    </div>

                    <!-- VERSION  -->
                    <div class="d-flex filterChange"  style="align-items:center; padding-left:4px;  margin-bottom:5px;">
                        <i class="version-arrow fa fa-angle-right w3-large w3-margin-right" id="audio_genre_caret"></i>
                        <h5 class="flex-grow-1 main-font-semi item-header" style="text-align:left; margin-bottom:0px;">VERSION</h5>
                        <div class="flex-grow ml-auto">
                            <!-- <i class="version-close fa fa-times-circle-o p-1" style="float:right; color:grey; visibility:hidden;"></i> -->
                        </div>
                    </div>
                    <div id="version-filters" class="row" style="text-align:left; padding:0px 0px; margin-bottom:5px; ">
                        <div class="col-6" style="align-items:left; padding:0px;">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="clean" >
                                        <label for="clean">Clean</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="explicit">
                                        <label for="explicit">Explicit</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox">
                                        <input type="checkbox" id="radio" >
                                        <label for="radio">Radio</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox" >
                                        <input type="checkbox" id="club">
                                        <label for="club">Club</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="checkbox" >
                                        <input type="checkbox" id="nomix">
                                        <label for="nomix">No Mix</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6" style="align-items:left; padding:0px;">
                            <ul class="list-group">
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <input type="checkbox" id="intro"  >
                                    <label for="intro">Intro Edit</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox" >
                                    <input type="checkbox" id="quick"  >
                                    <label for="quick">Quick Edit</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox" >
                                    <input type="checkbox" id="extended"  >
                                    <label for="extended">Extended</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox" >
                                    <input type="checkbox" id="remix"  >
                                    <label for="remix">Mix/Remix</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="checkbox" >
                                    <input type="checkbox" id="live"  >
                                    <label for="live">Live Version</label>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="overlay" class="overlay">

        </div>
    </div>
    
</template>

<script>
    import { mapGetters, mapActions} from "vuex";
    export default {
        data() {
            return {
                show: true,
                checkedFilters: []
            }
        },
        computed: {
            ...mapGetters(['isAuthenticated', 'filters', 'customFilters']),
            auth: function(){
                return this.isAuthenticated
            },
          
        },
        methods: {
            ...mapActions(['openNav', 'closeNav']),
            open() {
                this.show = true;
                this.openNav();
            },
            close() {
                this.show = false;
                this.closeNav();
            }
        },
        created () {
            
        },
        mounted () {
          
        },
    }
</script>

<style lang="css" scoped>
    /* The side navigation menu */
    .sidenav {
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 85px; /* Stay at the top */
    z-index: 101;
    left: 0;
    background-color: #f2f2f2; /* Black*/
    border: 1px solid var(--secondaryLight);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0px;
   
    overflow-x: hidden; /* Disable horizontal scroll */
    /* Place content 60px from the top */
    transition: 0.1s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .overlay {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999998; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(49, 49, 49, 0.589); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
     /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    .w-50-mobile{
        width: 100% !important;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
    }
      .sidebar-item{
        margin-right: 10px;
    }
    .sidebar-item-col{
        padding-top:10px;
        padding-bottom:10px;
    }
    .fa-times-circle-o{
        color:#fff;
    }
    .fa-times-circle-o:hover{
        color:#333;
        cursor:pointer;
    }
    .filterChange:hover{
        cursor:pointer;
    }
    #newContent{
        /* padding-top:0px !important;*/
    }
    label{
      font-family: 'bar_semibold';
    }
    .list-group-item{
        padding:0px!important;
    }
    /* checkboxes */
    .checkbox input[type="checkbox"] {
        opacity: 0;
    }
    .checkbox label {
        position: relative;
        display: inline-block;

        /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 22px;
    }
    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";

        /*Needed for the line-height to take effect*/
        display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    .checkbox label::before{
        height: 16px;
        width: 16px;

        border: 1px solid;
        left: 0px;

        /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
        *to vertically center it.
        */
        top: 3px;
    }

    /*Checkmark of the fake checkbox*/
    .checkbox label::after {
        height: 5px;
        width: 9px;
        border-left: 2px solid;
        border-bottom: 2px solid;

        transform: rotate(-45deg);

        left: 4px;
        top: 7px;
    }

    /*Hide the checkmark by default*/
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }

    /*Unhide on the checked state*/
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    .checkbox input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }

    /* filter button */
    .filter-btn:focus,
    .filter-btn:active{
        box-shadow:none !important;
        outline-color:none !important;
    }
    .fade-enter-active, .fade-leave-active {
        transition: all .25s ease;
    }
    /* .fade-enter defines the starting state for entering */
    /* .fade-leave defines the ending state for leaving */
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .activeBtn{
        border-color:white !important;
        background-color: black !important;
        box-shadow:none !important;
        outline:none !important;
        outline-color:none !important;
        color:white !important;
    }

   .slide-enter-active {
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }

    .slide-leave-active {
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;

    }

    .slide-enter-to, .slide-leave {
    max-height: 100px;
    overflow: hidden;
    }

    .slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
    }

    /* Used to force auto complete box to not show on date drop down as it hinders user experience clicking calendar */
    .visually-hidden {
        margin: -1px !important;
        padding: 0 !important;
        width: 1px !important;
        height: 1px !important;
        overflow: hidden !important;
        clip: rect(0 0 0 0) !important;
        clip: rect(0, 0, 0, 0) !important;
        position: absolute !important;
    }

    #filter_caret:hover{
        cursor:pointer;
    }
    .filterContainer{
        padding: .5rem 1rem;
        margin-right:.5rem;
        background: #fff;
    }

    .list-group{
        list-style-type: none;
    }
    
</style>