<template>
    <label class="switch">
        <input id="toggle" type="checkbox"  @change="navAction($event)">
        <span class="slider round"></span>
    </label>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    data() {
      return {
        checked: false,
      }  
    },
    methods: {
        ...mapActions(['openNav', 'closeNav']),
        navAction: function (e) {
          console.log(e.target.checked)
          e.target.checked ? this.openNav() : this.closeNav();
        }    
    },
}
</script>

<style lang="css" scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primaryColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primaryLight);
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>