<template>
    <div id="topbar" v-show="isAuthenticated" class="row w-100 min-w-100 align-center justify-even bg-secondary fixed z-index-lg">
            <div class="col logo-section">
                <div class="row align-center justify-evenly mr-auto">
                    <router-link class="mobile-only no-link-line mr-sm mt-xs" to="/" exact>
                        <img class="pool-icon" :src="poolIconSrc" alt="promoonly logo">
                    </router-link>
                    <toggle-switch></toggle-switch>
                </div>
            </div>
            <div class="col flex-grow-1 p-0">
                <nav-bar></nav-bar>
            </div>
    </div>
</template>
<script>

import ToggleSwitch from "./ToggleSwitch.vue"
import Nav from "./Nav.vue"
import { mapGetters, mapActions} from "vuex";
export default {
  name: "TopBar",
  components:{
     'toggle-switch': ToggleSwitch,
     'nav-bar': Nav,
  },
  data(){
      return{
          poolIconSrc: require("../../assets/images/pool_logo.png")
      }
  },
  computed:{
      ...mapGetters(['isAuthenticated', 'loggedIn'])
  },
  methods: {
      ...mapActions(['openNav', 'closeNav'])
  },
};
</script>
<style lang="css" scoped>
    .pool-icon{
        width:40px;
        height:40px;
    }
    #topbar{
        top:0;
        height:50px;
    }
</style>