<template>
  <div class="overflow-x-hidden">
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
/* import {mapGetters, mapActions} from "../store/index.js";
 */
export default {
  name: "Home",
  components: {
    HelloWorld,
  },
  computed:{
    /* ...mapGetters(['']), */
  },
  methods:{
/*     ...mapActions(['']),
 */  },
  created(){

  }
};
</script>
