<template>
  <div class="row h-100">
    <Login></Login>
  </div>
</template>

<script>
import Login from "../components/auth/Login";
export default {
  name: "LoginView",
  components: {
    Login,
  },
  created(){

  },
  mounted(){

  }
};
</script>
<style lang="css" scoped>
    
</style>
