<template>
    <div>
        <h1>Releases</h1>
    </div>
   <!--  <card v-for="(card, i) in cards" :key="card.id + i" :card="card"></card> -->
</template>
<script>
import {mapGetters, mapActions} from "vuex";
export default {
    data(){
        loading: false;

    },
    computed:{
        ...mapGetters['releases']
    },
    methods:{

    },
    created(){

    },
    mounted(){

    }
}
</script>