<template>
  <div class="section mx-auto">
    <ReleaseBar></ReleaseBar>
    <div v-if="!loading">
      <ReleasePage v-for="(page, i) in releasesToShow" :page="page" :page-number="i" :key="'pageNumber-'+i"></ReleasePage>
    </div>
    <div v-else class="mt-xl min-h-50 pt-lg row align-end col"> 
        <div class="loader-more pt-lg">Loading...</div>
    </div>
    <div ref="loadMoreDiv" class="load-more mx-auto"><div v-if="loadingMore && !loading" class="loader-more">Loading...</div></div> 
  </div>
</template>

<script>

/* import TopBar from "./layout/TopBar.vue";
import BottomBar from "./layout/BottomBar.vue"; */
import {defineAsyncComponent} from "vue";
import {mapGetters, mapActions} from "vuex";
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  components:{
    ReleaseBar : defineAsyncComponent(() => import("./ReleaseBar.vue")),
    ReleasePage: defineAsyncComponent(() => import("./ReleasePage.vue"))
  },
  data(){
    return {
      loading: true,
      loadMoreElement: Element,
      loadingMore: false
    }
  },
  computed: {
    ...mapGetters(['releases', 'globalLoading']),
    releasesToShow: function(){

      return this.releases.pages; //this.releases.dates //this.releases.pages[this.releases.pageNumber];
    },
    pageNumber: function(){
      return this.releases.pageNumber
    }
  },
  methods:{
    ...mapActions(['getReleases']),
    registerObservers: function(){
        if(!this.registered){
            // options to set observer threshold
            // this is the percent the observer needs to be in view to trigger
            const options = {
                threshold: 0.90,
            };

            // observer will get new cards when in view
            let observer = new IntersectionObserver(async (entry) => {
                // if we're not currently loading more and we are intersecting on screen
                if (entry[0].isIntersecting && !this.loadingMore && !this.globalLoading) {
                    //this.loadMoreCards(this.rarity);
                    this.loadingMore = true;
                    await this.getReleases();
                    this.loadingMore = false;
                    //console.log("get More");
                }
              
            }, options);

            // todo implement this to watch loading sections
            // not ready yet
            /* let virtualObserver = new IntersectionObserver((entry) => {
                if(entry[0].isIntersecting){
                    this.show = true;
                }
                else{
                    this.show = false;
                }
            }) */

            // observe the loadMore element
            observer.observe(this.$refs["loadMoreDiv"]);
            //virtualObserver.observe(this.$refs[this.virtualID]);
            //this.registered = true;
        }
    },
    // set the load more element so the observer can be registered
      setLoadingElement: function(){
          this.loadMoreElement = this.$refs["loadMoreDiv"];
      },

      init: function() {
          this.setLoadingElement();
          this.registerObservers();
      }
  },
  async created(){
   this.loading = true;
   //this.loadingMore = true;
  },
  async mounted(){
    //this.loading = true;
    this.init();
    this.loading = false;
    
    

    /* if(!this.releases.pages[this.releases.pageNumber]){
    let done = await this.getReleases(); 
      if(done){
        console.log(this.releases)
        this.loading = false;
      }
    }
    else{
      this.loading = false;
    } */
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */

.h-90-vh{
  height: 90vh;
}
.container {
  width:90%;
}
.section{
  margin-top:90px;
}
.header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 35px;
  z-index: 100;
  font-size:1.5rem;
}

.load-more{
  width:300px;
  height:300px;
}
</style>
