<template>
    <div>
        <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" @click="closeMobileActionOverlay">&times;</a>
        <div class="overlay-content">
            <div class="overlay-wrapper align-center justify-center mx-auto w-90 ">
                <div class="track-info">
                    <div class="row align-center">
                        <div class="col flex-col">
                            <img class="release-img" :src="mobileOverlayTrack.image" loading="lazy"  alt="release album image" height="100" width="100">
                        </div>
                        <div class="col w-100 flex-col px-sm">
                            <div class="row w-100 align-center justify-start  py-xs ">
                                <em class="mr-auto"><h3 class="main-font mr-auto" v-html="mobileOverlayTrack.title"></h3></em>
                            </div>
                            <div class="row w-100 align-center justify-start mr-auto py-xs">
                                <h4 class="main-font " v-html="mobileOverlayTrack.artist"></h4>
                            </div>
                            <div v-if="mobileOverlayTrack.genre" class="row w-100 align-center justify-start py-xs">
                                <p class="main-font mr-auto text-left" v-html="mobileOverlayTrack.genre"></p>
                            </div>
                            <div class="row align-center justify-start mx-auto py-xs">
                                <p class="main-font mr-auto text-left" v-html="mobileOverlayTrack.mix"></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
                <div class="row align-center justify-around mx-auto">
                    <div class="col flex-col w-25">
                        <div class="row align-center justify-center mx-auto w-100 pb-xs grey-header">
                            <h4 class="main-font white">Audio</h4>
                        </div>
                        <button class="action-button">
                            <i class="fa fa-play-circle fa-2x"></i>
                        </button>
                    </div>
                    
                    <div class="col flex-col w-25">
                        <div class="row align-center justify-center mx-auto w-100 pb-xs grey-header">
                            <h4 class="main-font white">Preview</h4>
                        </div>
                        <button class="action-button">
                            <i class="fa fa-play-circle fa-2x"></i>
                        </button>
                    </div>
                    
                    <div class="col flex-col w-25">
                        <div class="row align-center justify-center mx-auto w-100 pb-xs grey-header">
                            <h4 class="main-font white">Queue</h4>
                        </div>
                        <button class="action-button">
                            <i class="fa fa-cloud-download fa-2x"></i>
                        </button>
                    </div>
                    <div class="col flex-col w-25">
                        <div class="row align-center justify-center mx-auto w-100 pb-xs grey-header">
                            <h4 class="main-font white">Versions</h4>
                        </div>
                        <button class="action-button">
                            <i class="fa fa-info-circle fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    export default {
        props: {

        },
        data() {
            return {
                key: ""

            }
        },
        computed: {
            ...mapGetters(['mobileOverlayTrack'])
        },
        methods: {
            ...mapActions(['closeMobileActionOverlay'])
        },
        created () {
            
        },
        mounted () {
            
        },
    }
</script>

<style lang="css" scoped>
    h2, h3, h4, p{
        color: black;
        font-size:.85rem;
    }
    p{
        font-size:.8rem;
    }
    .action-button{
        padding: 1rem 2rem;
        border: none;
        background-color: #ececec;
        color: #a2a2a2;
        cursor: pointer;
    
    }
    .grey-header{
        background:#a2a2a2;
        
    }
    .dark-grey-header{
        background:#424242;
        
    }


    .white{
        color: white !important;
    }
    .track-info{
        font-size:.9rem;
    }

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 50px;
        left: 0;
        background-color: rgba(92, 92, 92, 0.95);
    }

    .overlay-wrapper{
        background: rgb(255, 255, 255);
        border: 1px solid var(--darkGrey);
        

    }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
</style>