<template>
    <div class="releaseClass m-sm cursor-point" ref="hideMe">
        <div @click="loadTracks" class="row w-100 align-center justify-start">
            <div class="releaseImage">
                <div class="col mr-xs release-img-container" :class="imgClass">
                    <img class="release-img" :src="release.image_url" loading="lazy" @load="loadedImg($event)" alt="release album image" height="80" width="80">
                </div>
            </div>
          
            <div class="row justify-start main-font">
                    <div class="col flex-column w-95 ml-xs mt-xs text-left">
                        <div class="row mb-xs pl-xs align-center">
                            <em><h4 style="color:#828282;" v-html="release.release"></h4></em>
                        </div>
                        <div class="row mb-xs pl-xs">
                            <h5 v-html="release.artist"></h5>
                        </div>
                        <div class="row mb-xs pl-xs">
                                <small class="mr-xs">{{release.tracks}} tracks</small>
                                <div v-if="release.uk" class="col mr-auto"> <img class="flag-icon" :src="ukImageSrc" alt="uk / eu flag"></div>
                                <div v-else-if="release.ca" class="col mr-auto"> <img class="flag-icon" :src="caImageSrc" alt="canadian flag"></div>
                        </div>
                        <div class="row mb-xs pl-xs align-center">
                            <div class="col mr-auto mr-xs"><div class="chip mr-auto"><small class="" v-html="release.genre"></small></div></div>
                            <div class="col ml-auto mobile-sm-hide"> <div class="chip mr-auto"><small class="ml-auto" v-html="'©' + release.label"></small></div></div>
                            <div v-if="allDownloaded" class="col ml-auto chip bg-info mobile"><i class="fa fa-check cursor-point mx-auto"></i></div>
                            <div v-else class="col ml-auto chip mobile"><small> {{ release.downloaded}} / {{release.tracks}} </small></div>
                            
                        </div>
                    </div>
                    <div class="caret-container col pl-xs pr-sm mt-sm" >
                        <i v-if="!showTracks" class="fa fa-caret-left"></i>
                        <i v-else class="fa fa-caret-down"></i>
                    </div>
                </div>
            
            </div>
            <div class="row px-xs px-0-mobile py-sm controls">
                <div class="col w-10 w-30-mobile mx-sm mx-0-mobile justify-center mobile-show">
                    <div v-if="release.type === 1" class="chip blue-chip mx-auto"><small class="mx-auto">video</small></div>
                    <div v-else class="chip green-chip mx-auto"><small class="mx-auto">audio</small></div>
                </div>
                
                <div class="col w-20 w-30-mobile mx-sm justify-center"><i class="fa fa-play fa-2x cursor-point"></i></div>
                <div class="col w-20 min-w-20 w-30-mobile mx-sm justify-center mobile-hide"></div>
                <div class="col w-20 w-30-mobile mx-sm justify-center"><i class="fa fa-cloud-download fa-2x cursor-point"></i></div>
                <div class="col w-20 w-30-mobile mx-xs pl-sm justify-start mobile-sm-hide"> 
                    <div class="col ml-auto chip "><small> {{ release.downloaded}} / {{release.tracks}} downloaded</small></div>
                </div>
                <div class="col mx-xs pl-sm justify-start mobile-sm-hide"> </div>
                <div class="row ml-auto d-none">
                    <div class="col ml-auto chip mobile-sm-hide"><small>{{release.downloaded}} / {{release.tracks}} downloaded</small></div>
                    <div v-if="!showMoreInfo" class="col chip mx-sm mobile-sm-hide"><small>release id: {{release.id}}</small></div>
                    
                </div>
            </div>
            <!-- <div v-if="showTracks"> -->
              
                     <div v-if="loadingTracks" class="w-50 mx-auto"> 
                        <div class="mx-auto">
                            <div class="loader-more" >Loading...</div>
                        </div>
                    </div>
                    <div v-else>
                       
                        <tracks-table v-if="tracks[release.id] && showTracks" :tracks=tracks[release.id] :releaseid="release.id" :release-image-src="release.image_url"></tracks-table>
                      
                    </div>
              
               
            <!-- </div> -->
    </div>
      
</template>
<script>
import {mapGetters, mapActions} from "vuex";
import {defineAsyncComponent} from "vue";
export default {
    props:{
        release: {
            type: Object,
            required: true
        },
        page: {
            type: String,
            required: true
        }
    },
    components:{
        'tracks-table': defineAsyncComponent(() => import("./TracksTable.vue"))
    },
    data(){
        return {
            showMoreInfo: true,
            showTracks: false,
            ukImageSrc: require("../assets/images/uk_eu_flag_circle_clear.png"), 
            caImageSrc: require("../assets/images/ca_icon.png"), 
            loadingTracks: false,
            show:true
        }
    },
    computed:{
        ...mapGetters(['tracks']),
        allDownloaded: function(){
            return this.release.downloaded == this.release.tracks
        },
        tracksToShow: function(){
            return this.tracks[this.release.id] > 0 ? this.tracks[this.release.id] : [];
        },
        imgClass: function(){
            return this.release.type == 1 ? "v-img" : "a-img"
        }
    },
    watch:{

    },
    methods:{
        ...mapActions(['getTracks']),
        loadTracks: async function(){
            if(this.showTracks){
                this.showTracks = false;
            }
            else{
                requestAnimationFrame(async () => {
                    this.loadingTracks = true;
                    await this.getTracks(this.release.id)
                /* this.$nextTick(() => { */
                    this.showTracks = true;
                    this.loadingTracks = false;
                })
               
               /*  }) */
            }
        },
        loadedImg: function(e) {
            e.target.classList.remove('loading-img');
            e.target.classList.add('loaded-img');
        },
        
    },
    created(){
        
    },
    mounted(){
    }
}
</script>
<style lang="css" scoped>
.releaseClass{
    border-bottom: 1px solid var(--lightGrey);
    border-left: 1px solid var(--lightGrey);
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 2px 1px 6px rgb(226 226 226);
    max-width: 900px;
    min-width: 900px;
}

.releaseClass:hover{
    box-shadow: 1.5px 1.5px 10px rgb(200, 200, 200);
    background-color:#f7f7f7
}

.controls{
    background-color: #f7f7f7;
}

img{
    width: 100px;
    height: 100px;
    border-top-left-radius: 4px;
}

.chip{
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    width: auto;
    border: 1px solid #c7c7c7;
    border-radius: 50px;
    font-size: .8rem;
    background-color: #f7f7f7;
}

.green-chip {
    background-color:#4cc269 !important;
    border-color: #93c5a0;
    color: #fff;
}
.blue-chip {
    background-color:#00bcd4 !important;
    border-color:#93c8cf;
    color: #fff;
}


    
.fa-2x{
    font-size:1.25rem;
    color: #a2a2a2;

}

.loading-img {
    filter: blur(4px);
    transition: filter .75s;
    background-color:#555;
    opacity:0.2;
    transition: opacity 2s;
}
.loaded-img {
    filter: blur(0);
    background-color:transparent;
    opacity: 1;
}

.flag-icon{
    width: 16px !important;
    height: 16px !important;
}
.loader{
    margin: 40px auto !important;
}

.bg-linear-grey{
    background:linear-gradient(0deg, #dcdcdc, #ececec);
}

.caret-container{
    min-width:20px !important; width:20px;
}


.slide-enter-active {
   -moz-transition-duration: 0.1s;
   -webkit-transition-duration: 0.1s;
   -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.1s;
   -webkit-transition-duration: 0.1s;
   -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
 
</style>