<template>
    <div class="bar row w-100 min-w-100 py-sm align-center justify-even bg-secondary-light fixed ">
    
    <div class="row w-100 mr-auto align-center justify-around-mobile-start ml-xl pl-md">
        <div class="col">
            <i ref="reload" class="fa fa-refresh fa-2x cursor-point z-index-lg" @click="reload($event)"></i>
        </div>
        <div class="col ">
           <input class="date-picker mx-md mobile-sm-hide" ref="datePicker" type="date" name="datePicker" id="datePicker"  :max="todayString"  @input="searchDate($event)" @keyup.enter="searchDate($event)">
        </div>
    </div>
    </div>
</template>
<script>

import {mapGetters, mapActions} from "vuex";
import helpers from "../utilities/helpers";
export default {
    data(){
        return{
            loading: false,

        }
    },
    computed:{
        ...mapGetters(["globalLoading"]),
        todayString: function(){
            return helpers.todayString() //.replaceAll("-", "/");
        }
    },
    methods:{
        ...mapActions(['reloadReleases']),
        reload: async function(e){
            window.scrollTo(0, 0);
            e.target.classList.add('rotate');
            await this.reloadReleases();
            e.target.classList.remove('rotate');
        },
        searchDate: function(event){
            console.log(`set date as: ${event.target.value}`)
        }
    },
    created(){

    },
    mounted(){
        
    }
}
</script>
<style lang="css" scoped>   
.bar{
    top:50px;
    z-index:99;
    background:#f2f2f2;
}

.fa-2x{
    font-size:1.25rem;
    color: #a2a2a2;
    text-shadow: 0 0 #888;
}

.rotate {
    animation: rotation 2.0s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.date-picker{
    font-family: 'bar_semibold';
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #a2a2a2;
    color: #555;
}

/* input[type="date"]:focus{
    outline:1px solid var(--lightgrey)!important;
    border: none;
    
} */
    
</style>