<template>
    <transition name="fade" mode="out-in">
        <div :ref="refID">
            <div v-if="show">
                <div class="row align-start" v-for="(releases, date) in page" :key="date">
                    <!-- <div class="col w-50">
                    <ul style="list-style-item:none;">
                        <h1 class="header p-md main-font">{{ date }}</h1> 
                        <release-item v-for="(release) in releases" :key="release.id + '_' + date" :release="release" :page="pageNumber" ></release-item>
                    </ul>
                    </div> -->
                    <div class="col mx-auto"> 
                        <ul v-cloak style="list-style-item:none;">
                            <h1 class="header main-font mx-auto">{{ date }}</h1> 
                            <release-item  v-for="(release) in releases" :key="release.id + '-' + date" :release="release" :page="pageNumber" ></release-item>
                        </ul>
                    </div> 
                </div>
            </div>
            <div v-else>
                <h1></h1>
            </div>
            
        </div>
    </transition>
    
</template>
<script>
import {defineAsyncComponent} from "vue";
import {mapGetters} from "vuex";
export default {
    props: {
        page: {
            type: Object,
            required: true
        },
        pageNumber: {
            type: String,
            required: true
        }
    },
    data(){
        return{
            show :false,
            loading: false,
            prevRatio: 0.0,
            observer: Element
        }
   
    },
    computed:{
        ...mapGetters(['globalLoading']),
        refID: function(){
            return `page-ref-${this.pageNumber}`
        }
    },
    components:{
        ReleaseItem : defineAsyncComponent(() => import("./ReleaseItem.vue"))
    },
    methods:{
        registerObservers: function(){
            if(!this.registered){
                // options to set observer threshold
                // this is the percent the observer needs to be in view to trigger
                const options = {
                    threshold: 0.0,
                    rootMargin: "200px"
                };

                // observer will get new cards when in view
                 this.observer = new IntersectionObserver((entry) => {
                    // if we're not currently loading more and we are intersecting on screen
                    if (entry[0].isIntersecting && !this.loading && !this.globalLoading) {
                        //this.loadMoreCards(this.rarity);
                            this.loading = true;   
                            this.show = true
                            this.loading = false;
                           // console.log("showing ", )                   
                    }
                    else{
                        this.loading = true;    
                        this.show = false;
                        this.loading = false;
                        
                    }
                
                }, options);

                // todo implement this to watch loading sections
                // not ready yet
                /* let virtualObserver = new IntersectionObserver((entry) => {
                    if(entry[0].isIntersecting){
                        this.show = true;
                    }
                    else{
                        this.show = false;
                    }
                }) */

                // observe the loadMore element
                this.observer.observe(this.$refs[this.refID]);
                //virtualObserver.observe(this.$refs[this.virtualID]);
                //this.registered = true;
            }
        },

        init: function() {
            this.registerObservers();
        }
    },
    created(){

    },
    mounted(){
        this.$nextTick(() => {
            this.show = true;
            this.init();
        })
        
    },
    unmounted(){
        this.observer.disconnect();
    }
}
</script>
<style lang="css" scoped>
    .container {
        width:90%;
    }
    .section{
        margin-top:90px;
    }
    .header {
        width: 135px;
        height: 50px;
        position: sticky;
        top: 52px;
        z-index: 100;
        font-size: 1.4rem;
    }
            

    .load-more{
        width:300px;
        height:300px;
    }
</style>