<template>
<div>
    <div v-if="hasRemixes" class="row justify-center">
        <div class="col w-50 justify-center">
            <div @click="toggleMode('all')" :class="allClass">All Tracks</div>
        </div>
        <div class="col w-50 justify-center">
            <div @click="toggleMode('remix')" :class="remixClass">Remixes Only</div>            
        </div>
    </div>
    <table class="w-100 mt-md main-font" :ref="tableRef">
    <tr class="w-100 text-left">
        <th class="mr-sm"></th>
        <th @click.stop="sortTable(1)" class="cursor-pointer p-xs">#</th> 
        <th @click.stop="sortTable(2)" class="cursor-pointer p-xs">Title</th>
        <th @click.stop="sortTable(3)" class="cursor-pointer p-xs">Mix</th>
        <th @click.stop="sortTable(4)" class="mobile-sm-hide d-table-cell cursor-pointer p-xs">BPM</th>
        <th @click.stop="sortTable(5)" class="mobile-sm-hide d-table-cell cursor-pointer p-xs">Genre</th>
    </tr>
    <tr class="w-100 text-left mb-sm table-row-hover " v-for="(track) in tracksToShow" :key="track.id" @dblclick="openMobileActionOverlay({...track, image: releaseImageSrc})" >
        <td class="p-xs w-15 icons">
            <div class="row align-center justify-evenly">
                <i class="fa fa-play-circle mobile-sm-hide" @dblclick.stop="openMobileActionOverlay"></i>
                <i class="fa fa-download mobile-sm-hide"></i>
                <i class="fa fa-cloud-download"></i>
                <i class="fa fa-info-circle mobile-sm-hide"></i>
            </div>
           
        </td>
        <td class="p-xs">{{ track.order }}</td>
        <td class="p-xs">
            <p><em v-html="track.title"></em></p>
            <small v-html="track.artist"></small>
        </td>
        <td class="p-xs">
           <small v-html="track.mix"></small>
        </td>
        <td class="mobile-sm-hide d-table-cell p-xs">
          <small> {{track.bpm}}</small>
        </td>
        <td class="mobile-sm-hide d-table-cell p-xs">
            <small v-html="track.genre"></small>
        </td>
    </tr>
    </table>  

</div>
     
</template>
<script>
import {mapActions} from "vuex";
export default {
    props:{
        tracks: {
            type: Array,
            required: true
        },
        releaseid: {
            type: Number,
            required: true
        },
        releaseImageSrc:{
            type: String,
            required: true
        }
       
    },
    data(){
        return {
          mode: "all",
          tableModeKey: 0,
          remixes: [],
          allTracks: []
         
        }
    },
  
    computed:{
        tableRef: function(){
            return `${this.releaseid}_${this.tracks.length}`
        },
        tracksToShow:{ 
            get: function (){
                if(this.mode == "all"){
                    return this.allTracks;
                }
                else if(this.mode == "remix"){
                    return this.remixes;
                }
                else{
                    return this.tracks;
                }
            },
        },
        hasRemixes: function() {
            return this.remixes.length > 0 && this.remixes.length != this.allTracks.length;
        },
        allClass: function(){
            if(this.mode == "all"){
                return "main-font square-chip border-no-left selected cursor-point "
            }
            else{
                return "main-font square-chip border-no-left cursor-point"
            }
        },
        remixClass: function(){
            if(this.mode == "remix"){
                return "main-font square-chip border-no-right selected cursor-point"
            }
            else{
                return "main-font square-chip border-no-right cursor-point"
            }
        },

    },
    methods:{
        ...mapActions(['openMobileActionOverlay']),
        toggleMode: function(mode = "all"){
            this.mode = mode;
            this.tableModeKey = `${this.releaseid}_${this.tracks.length}_${mode}`;
        },
        sortTable: function(itemIndex = 0){
        {   const table = this.$refs[this.tableRef];
            var rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[itemIndex];
                y = rows[i + 1].getElementsByTagName("TD")[itemIndex];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */

                // order is a number so handle differently
                if(itemIndex == 1){
                    console.log(typeof parseInt(x.innerHTML));
                    if (dir == "asc") {
                        if (Number(x.innerHTML) > Number(y.innerHTML)) {
                            console.log("should switch")
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (Number(x.innerHTML) < Number(y.innerHMTL)) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                        }
                    }
                }
                else{
                    console.log("other")
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                        }
                    }
                }

            
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount ++;
                    } 
                else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                    }
                }
            }
        }
    },
    
    created(){
      //this.tableModeKey = `${this.releaseid}_${this.tracks.length}`; 
        this.allTracks = [...this.tracks]
        this.remixes = this.tracks.filter((track) => track.mix != "")
    },
    mounted(){
    }
}
</script>
<style lang="css" scoped>
    .table-row-hover:hover{
        background-color: #ececec !important;
    }
    table{
        border-collapse: collapse;
        text-indent: initial;
        border-spacing: 2px;
        font-size:14px;
    }
    .icons{
        font-size:1.25rem;
        color:#a2a2a2;
    }
    .square-chip{
        display: flex;
        justify-content: center;
        padding: 6px 1rem;
        width: auto;
        border: 1px solid #dcdcdc;
        border-top:0px;
        border-radius: 0px;
        /* border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem */;
        color: #d3d3d3;
        font-size: .8rem;
        background-color: #ececec;
        /* border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%; */

        width: 100%;
    }

    .selected{
        background:linear-gradient(0deg, #e2e2e2, #ececec);
        color:#333;
        border-top:0px;
   /*      border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem; */
    }


    
</style>