<template>
  <div>
      <top-bar></top-bar>
      <div class="main-container">
           <side-bar></side-bar>
           <router-view v-slot="{ Component }">
            <keep-alive>
              <component :is="Component" :key="$route.fullPath"></component>
            </keep-alive>
          </router-view>
      </div>
      <mobile-action-overlay></mobile-action-overlay>
      <bottom-bar></bottom-bar>
  </div>
</template>

<script>
import {defineAsyncComponent,} from "vue"
export default {
  name: 'App',
  components: {
    'top-bar':  defineAsyncComponent(() => import('../src/components/layout/TopBar.vue')),
    'bottom-bar': defineAsyncComponent(() => import('../src/components/layout/BottomBar.vue')),
    'side-bar' : defineAsyncComponent(() => import("../src/components/layout/SideBar.vue")),
    'mobile-action-overlay' : defineAsyncComponent(()=> import("../src/components/MobileActionOverlay.vue"))
  },
  data(){
    return{
      
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
