/* bring in custom fonts */
@font-face
{
	font-family: "bar_semibold";
	src: url("../fonts/Barlow-SemiBold.ttf") format('truetype');
}


@font-face
{
	font-family: "bar_bold";
	src: url("../fonts/Barlow-Bold.ttf") format('truetype');
}


/* ------------------------custom variables---------------------  */

:root {

    /* main reds */
    --primaryColor: #cb2229;
    --secondaryColor: #ef2023;
    
    /* light colors */
    --primaryLight: #fff;
    --secondaryLight: #f2f2f2;

    /* grey */
    --lightGrey: #d6d5d5;
    --grey: #b9b9b9;
    --darkGrey: #6c757d;
    
    /*  dark colors */
    --primaryDark: #000;
    --secondaryDark: #333;

    /* info / error / success colors */
    --successColor: green;
    --errorColor: red;
    --infoColor: #17a2b8;
    --warnColor: orange;

    --backgroundColor: #fff;

    /* default padding and margin classes */
    --xs: 0.25rem;
    --sm: 0.5rem;
    --md: 1rem;
    --lg: 2rem;
    --xl: 3rem;
    --xxl: 4rem;
    
}

/* basic reset */
*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*  body style */
body{
    height:100vh;
    min-height:100vh;
    overflow-x:hidden !important;
}

/* smooth scroll css */
html:focus-within {
    scroll-behavior: smooth;
}


/* general margin classes */
.m-auto{
    margin:auto;
}
.mx-auto{
    margin-left:auto;
    margin-right:auto;
}
.mx-xs{
    margin-left:var(--xs);
    margin-right:var(--xs);
}
.mx-sm{
    margin-left:var(--sm);
    margin-right:var(--sm);
}
.mx-md{
    margin-left:var(--md);
    margin-right:var(--md);
}
.my-lg{
    margin-top:var(--lg);
    margin-bottom:var(--lg);
}

/* margin */
.m-0{
    margin:0;
}
.m-xs{
    margin:var(--xs);
}
.m-sm{
    margin:var(--sm);
}
.m-md{
    margin:var(--md);
}
.m-lg{
    margin:var(--lg);
}
.m-xl{
    margin:var(--xl);
}

/* margin top */
.mt-0{
    margin-top:0;
}
.mt-xs{
    margin-top:var(--xs);
}
.mt-sm{
    margin-top:var(--sm);
}
.mt-md{
    margin-top:var(--md);
}
.mt-lg{
    margin-top:var(--lg);
}
.mt-xl{
    margin-top:var(--xl);
}

/* margin right */
.mr-auto{
    margin-right:auto;
}
.mr-0{
    margin-right:0;
}
.mr-xs{
    margin-right:var(--xs);
}
.mr-sm{
    margin-right:var(--sm);
}
.mr-md{
    margin-right:var(--md);
}
.mr-lg{
    margin-right:var(--lg);
}
.mr-xl{
    margin-right:var(--xl);
}

/* margin bottom */
.mb-0{
    margin-bottom:0;
}
.mb-xs{
    margin-bottom:var(--xs);
}
.mb-sm{
    margin-bottom:var(--sm);
}
.mb-md{
    margin-bottom:var(--md);
}
.mb-lg{
    margin-bottom:var(--lg);
}
.mb-xl{
    margin-bottom:var(--xl);
}

/* margin left */
.ml-auto{
    margin-left:auto;
}
.ml-0{
    margin-left:0;
}
.ml-xs{
    margin-left:var(--xs);
}
.ml-sm{
    margin-left:var(--sm);
}
.ml-md{
    margin-left:var(--md);
}
.ml-lg{
    margin-left:var(--lg);
}
.ml-xl
{
    margin-left:var(--xl);
}



/* general padding classes */

/* auto padding */
.p-auto{
    padding:auto;
}
.px-auto{
    padding-left:auto;
    padding-right:auto;
}
.px-xs{
    padding-left:var(--xs);;
    padding-right:var(--xs);;
}
.px-sm{
    padding-left:var(--sm);
    padding-right:var(--sm);
}
.px-md{
    padding-left:var(--md);
    padding-right:var(--md);
}
.px-lg{
    padding-left:var(--lg);
    padding-right:var(--lg);
}
.py-xs{
    padding-top:var(--xs);
    padding-bottom:var(--xs);
}
.py-sm{
    padding-top:var(--sm);
    padding-bottom:var(--sm);
}
.py-md{
    padding-top:var(--md);
    padding-bottom:var(--md);
}
.py-xl{
    padding-top:var(--xl);
    padding-bottom:var(--xl);
}

/* padding */
.p-0{
    padding:0 !important;
}
.p-xs{
    padding:var(--xs);
}
.p-sm{
    padding:var(--sm);
}
.p-md{
    padding:var(--md);
}
.p-lg{
    padding:var(--lg);
}

/* padding top */
.pt-0{
    padding-top:0;
}
.pt-xs{
    padding-top:var(--xs);
}
.pt-sm{
    padding-top:var(--sm);
}
.pt-md{
    padding-top:var(--md);
}
.pt-lg{
    padding-top:var(--lg);
}

/* padding right */
.pr-0{
    padding-right:0;
}
.pr-xs{
    padding-right:var(--xs);
}
.pr-sm{
    padding-right:var(--sm);
}
.pr-md{
    padding-right:var(--md);
}
.pr-lg{
    padding-right:var(--lg);
}

/* padding bottom */
.pb-0{
    padding-bottom:0;
}
.pb-xs{
    padding-bottom:var(--xs);
}
.pb-sm{
    padding-bottom:var(--sm);
}
.pb-md{
    padding-bottom:var(--md);
}
.pb-lg{
    padding-bottom:var(--lg);
}

/* padding left */
.pl-0{
    padding-left:0;
}
.pl-xs{
    padding-left:var(--xs);
}
.pl-sm{
    padding-left:var(--sm);
}
.pl-md{
    padding-left:var(--md);
}
.pl-lg{
    padding-left:var(--lg);
}

/* flex rows / columns and alignment/justify*/
.row{
    display:flex;
    width:100%;
    flex-direction:row;
}

.col{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

/* row alignment */
.align-center{
    align-items:center;
}

.align-start{
    align-items:flex-start;
}

.align-end{
    align-items:flex-end;
}

/*  row justify */
.justify-center{
    justify-content:center;
}

.justify-between{
    justify-content:space-between;
}

.justify-around{
    justify-content:space-around;
}

.justify-evenly{
    justify-content:space-evenly;
}

.justify-end{
    justify-content:flex-end;
}


/* text classes */
.text-center{
    text-align:center;
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}

.text-primary{
    color: var(--primaryColor);
}

.text-secondary{
    color: var(--secondaryColor);
}

.text-light{
    color: var(--primaryLightColor);
}

.text-secondary-light{
    color: var(--secondaryLightColor);
}

.text-dark{
    color: var(--primaryDarkColor);
}

.text-secondary-dark{
    color: var(--secondaryDark);
}

.text-info {
    color: var(--infoColor);
}

.text-error{
    color: var(--errorColor);
}

.text-success{
    color: var(--successColor);
}

.text-warn{
    color: var(--warnColor);
}

/* background color classes */
.bg-primary{
    background-color: var(--primaryColor);
}

.bg-secondary{
    background-color: var(--secondaryColor);
}

.bg-light{
    background-color: var(--primaryLightColor);
}

.bg-secondary-light{
    background-color: var(--secondaryLightColor);
}

.bg-dark{
    background-color: var(--primaryDarkColor) !important;
}

.bg-secondary-dark{
    background-color: var(--secondaryDark) !important;
}

.bg-info {
    background-color: var(--infoColor) !important;
    color: var(--primaryLight);
}

.bg-error{
    background-color: var(--errorColor);
}

.bg-success{
    background-color: var(--successColor);
}

.bg-warn{
    background-color: var(--warnColor);
}

.border-primary{
    border: 1px solid var(--primaryColor);
}

.border-secondary{
    border: 1px solid var(--secondaryColor);
}

.border-light{
    border: 1px solid var(--primaryLightColor);
}

.border-secondary-light{
    border: 1px solid var(--secondaryLightColor);
}

.border-dark{
    border: 1px solid var(--primaryDarkColor);
}

.border-secondary-dark{
    border: 1px solid var(--secondaryDark);
}

.border-info {
    border: 1px solid var(--infoColor);
}

.border-error{
    border: 1px solid var(--errorColor);
}

.border-success{
    border: 1px solid var(--successColor);
}

.border-warn{
    border: 1px solid var(--warnColor);
}

.border-none{
    border:0;
}

.border-no-x{
    border-left:0;
    border-right:0;
}

.border-no-y{
    border-top:0;
    border-bottom:0;
}

.border-no-top{
    border-top:0 !important;
}

.border-no-right{
    border-right:0 !important;
}

.border-no-bottom{
    border-bottom:0 !important;
}

.border-no-left{
    border-left:0 !important;
}

.border-inset{
    border: inset;
}

/* display classes */
.d-none{
    display:none;
}

.d-hide{
    display:none;
}

.d-block{
    display:block;
}

.d-inline{
    display:inline;
}

.d-inline-flex{
    display:inline-flex;
}

.d-flex{
    display:flex;
}

.d-table-cell{
    display: table-cell !important;
}

/* flex */
.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

/* float */
.float-r{
    float:right;
}
.float-l{
    float:left;
}
.float-clear{
    clear: both;
}

/* position classes */
.fixed{
    position:fixed;
}

.absolute{
    position:absolute;
}

.relative{
    position:relative;
}

/* z-index */
/* note event extra small is still greater than 0 */
.z-index-xs{
    z-index:9 !important;
}

.z-index-sm{
    z-index:99 !important;
}

.z-index-md{
    z-index:999 !important;
}

.z-index-lg{
    z-index:9999 !important;
}

.z-index-xl{
    z-index:99999 !important;
}


/* cursor classes */
.cursor-auto{
    cursor:auto;
}

.cursor-default{
    cursor:default;
}

.cursor-point{
    cursor:pointer;
}

.cursor-crosshair{
    cursor:crosshair;
}

.cursor-text{
    cursor:text;
}

.cursor-cell{
    cursor:cell;
}

.cursor-none{
    cursor:none;
}

.cursor-not-allowed{
    cursor:not-allowed;
}

/* 
    custom scroll bar class overrides 
    not all browsers are webkit compatible
*/
/* width */
::-webkit-scrollbar {
    width: 20px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--secondaryDark) !important;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primaryColor) !important;
    border-radius: 10px;
}

/* overflow classes  */
.overflow-hidden{
    overflow: hidden;
}

.overflow-auto{
    overflow: auto;
}

.overflow-scroll{
    overflow: scroll;
}
.overflow-y-hidden{
    overflow-y: hidden;
}

.overflow-y-auto{
    overflow-y: auto;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.ovfl-x-hi{
    overflow-x: hidden;
}

.overflow-x-auto{
    overflow-x: auto;
}

.overflow-x-scroll{
    overflow-x: scroll;
}


/* general width and min / max width classes */

.w-100-vw{
    width:100vw;
}
.w-100{
    width:100%;
}
.w-95{
    width:95%;
}
.w-90{
    width:90%;
}
.w-85{
    width:85%;
}
.w-80{
    width:80%;
}
.w-75{
    width:75%;
}
.w-70{
    width:70%;
}
.w-65{
    width:65%;
}
.w-60{
    width:60%;
}
.w-55{
    width:55%;
}
.w-50{
    width:50%;
}
.w-45{
    width:45%;
}
.w-40{
    width:40%;
}
.w-35{
    width:35%;
}
.w-30{
    width:30%;
}
.w-25{
    width:25%;
}
.w-20{
    width:20%;  
}
.w-15{
    width:15%;
}
.w-10{
    width:10%;
}
.w-5{
    width:5%;
}
.w-0{
    width:0%;
}
.w-auto{
    width:auto;
}

.max-w-100{
    max-width:100%;
}
.max-w-95{
    max-width:95%;
}
.max-w-90{
    max-width:90%;
}
.max-w-85{
    max-width:85%;
}
.max-w-80{
    max-width:80%;
}
.max-w-75{
    max-width:75%;
}
.max-w-70{
    max-width:70%;
}
.max-w-65{
    max-width:65%;
}
.max-w-60{
    max-width:60%;
}
.max-w-55{
    max-width:55%;
}
.max-w-50{
    max-width:50%;
}
.max-w-45{
    max-width:45%;
}
.max-w-40{
    max-width:40%;
}
.max-w-35{
    max-width:35%;
}
.max-w-30{
    max-width:30%;
}
.max-w-25{
    max-width:25%;
}
.max-w-20{
    max-width:20%;  
}
.max-w-15{
    max-width:15%;
}
.max-w-10{
    max-width:10%;
}
.max-w-5{
    max-width:5%;
}
.max-w-0{
    max-width:0%;
}

.min-w-100{
    min-width:100%;
}
.min-w-95{
    min-width:95%;
}
.min-w-90{
    min-width:90%;
}
.min-w-85{
    min-width:85%;
}
.min-w-80{
    min-width:80%;
}
.min-w-75{
    min-width:75%;
}
.min-w-70{
    min-width:70%;
}
.min-w-65{
    min-width:65%;
}
.min-w-60{
    min-width:60%;
}
.min-w-55{
    min-width:55%;
}
.min-w-50{
    min-width:50%;
}
.min-w-45{
    min-width:45%;
}
.min-w-40{
    min-width:40%;
}
.min-w-35{
    min-width:35%;
}
.min-w-30{
    min-width:30%;
}
.min-w-25{
    min-width:25%;
}
.min-w-20{
    min-width:20%;  
}
.min-w-15{
    min-width:15%;
}
.min-w-10{
    min-width:10%;
}
.min-w-5{
    min-width:5%;
}
.min-w-0{
    min-width:0%;
}

/* general height classes */
.h-100-vh{
    height:100vh;
}
.h-100{
    height:100%;
}
.h-95{
    height:95%;
}
.h-90{
    height:90%;
}
.h-85{
    height:85%;
}
.h-80{
    height:80%;
}
.h-75{
    height:75%;
}
.h-70{
    height:70%;
}
.h-65{
    height:65%;
}
.h-60{
    height:60%;
}
.h-55{
    height:55%;
}
.h-50{
    height:50%;
}
.h-45{
    height:45%;
}
.h-40{
    height:40%;
}
.h-35{
    height:35%;
}
.h-30{
    height:30%;
}
.h-25{
    height:25%;
}
.h-20{
    height:20%;  
}
.h-15{
    height:15%;
}
.h-10{
    height:10%;
}
.h-5{
    height:5%;
}
.h-0{
    height:0%;
}


/*  */
.mobile{
    display:none !important;
}

.mobile-hide{
    display:flex;
}

.mobile-sm-hide{
    display: flex;
}

.mobile-row input {
    width: 500px;
} 

.justify-around-mobile-start{
    justify-content: space-around;
}

.logo-section{
    width:15%;
}

.mobile-sm-show{
    display:none;
}
/* ------------------------tooltip styles---------------------  */

.tooltip {
    cursor: pointer;
    position: relative;
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 14px 20px;

}

.tooltip a {
    text-decoration: none;
    width: 100%;
}

.tooltip .tooltiptext-up {
    visibility: hidden;
    width: 120px;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    text-shadow: 0.1px 0px 0px grey;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 9999;
    bottom: 135%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext-down {
    width: 100%;
    display: flex;
    height: auto;
    font-size: 0.65rem !important;
    text-align: center;
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    text-shadow: 0.1px 0px 0px grey;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 9999;
    top: 45px;
    left: 0;
    padding: var(--xs);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext-down-special{
    visibility: hidden;
    width: 160px;
    display: flex;
    height: auto;
    font-size: .8rem;
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    text-shadow: 0.1px 0px 0px grey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 9999;
    top: 40px;
    left: 45px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext-up::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--primaryColor) transparent transparent transparent;
}

.tooltip .tooltiptext-down::after {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    transform:translateX(-50%);
    
    border-width: 8px;
    border-style: solid;
    border-color:  transparent transparent var(--primaryDark) transparent;
}
.tooltip .tooltiptext-down-special::after {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    transform:translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color:  transparent transparent var(--primaryDark) transparent;
}

.tooltip:hover .tooltiptext-up, 
.tooltip:hover .tooltiptext-down, 
.tooltip:hover .tooltiptext-down-special
.tooltip:hover .tooltiptext-down-charts  {
    visibility: visible;
    opacity: 1;
}

/* promoonly specific */
.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
}
/* .fade-enter defines the starting state for entering */
/* .fade-leave defines the ending state for leaving */
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.main-font{
    font-family: 'bar_semibold' !important;
}

/* spinner and custom frame*/
.loader {
    margin: 100px auto;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load 1.1s infinite ease;
    animation: load 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
} 
.loader-more {
    margin: 100px auto;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-animation: load 1.1s infinite ease;
    animation: load 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
} 
@-webkit-keyframes load {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #f2f2f2,
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.5),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.7),
            1.8em -1.8em 0 0em #f2f2f2, 2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.5),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.7), 2.5em 0em 0 0em #f2f2f2,
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.5),
            2.5em 0em 0 0em rgba(239,32,35, 0.7),
            1.75em 1.75em 0 0em #f2f2f2,
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.5),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.7),
            0em 2.5em 0 0em #f2f2f2, -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.5),
            0em 2.5em 0 0em rgba(239,32,35, 0.7), -1.8em 1.8em 0 0em #f2f2f2,
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.5),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.7),
            -2.6em 0em 0 0em #f2f2f2,
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.5),
            -2.6em 0em 0 0em rgba(239,32,35, 0.7),
            -1.8em -1.8em 0 0em #f2f2f2;
    }
}
@keyframes load {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #f2f2f2,
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.5),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.7),
            1.8em -1.8em 0 0em #f2f2f2, 2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.5),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.7), 2.5em 0em 0 0em #f2f2f2,
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.5),
            2.5em 0em 0 0em rgba(239,32,35, 0.7),
            1.75em 1.75em 0 0em #f2f2f2,
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.5),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.7),
            0em 2.5em 0 0em #f2f2f2, -1.8em 1.8em 0 0em rgba(239,32,35, 0.2),
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.5),
            0em 2.5em 0 0em rgba(239,32,35, 0.7), -1.8em 1.8em 0 0em #f2f2f2,
            -2.6em 0em 0 0em rgba(239,32,35, 0.2),
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.5),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.7),
            -2.6em 0em 0 0em #f2f2f2,
            -1.8em -1.8em 0 0em rgba(239,32,35, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(239,32,35, 0.2),
            1.8em -1.8em 0 0em rgba(239,32,35, 0.2),
            2.5em 0em 0 0em rgba(239,32,35, 0.2),
            1.75em 1.75em 0 0em rgba(239,32,35, 0.2),
            0em 2.5em 0 0em rgba(239,32,35, 0.2),
            -1.8em 1.8em 0 0em rgba(239,32,35, 0.5),
            -2.6em 0em 0 0em rgba(239,32,35, 0.7),
            -1.8em -1.8em 0 0em #f2f2f2;
    }
}

/* On screens that are 992px wide or less */
@media screen and (min-width: 1100px) {
    .mobile-row input {
        width: auto !important;
    } 
}





/* On screens that are 992px wide or less */
@media screen and (max-width: 850) {
    .mobile-row input, .mobile-row  button {
        width: auto;
        display:none;
        margin-left:auto;
    } 

    .search-container  input{
        width: 70%;
    }

}

@media only screen and (max-width: 800px) {
    .mobile-hide  {
        display: none;
    } 
    .logo-section{
        width:20%;
        margin-left:1rem;
    }
}
  
@media only screen and (max-width: 768px) {
    .mobile-hide  {
        display: none;
    } 
    .logo-section{
        width:20%;
        margin-left:1rem;
    }
    .releaseClass{
        min-width: 500px !important;
        max-width: 500px !important;
        font-size:95%;
    }
    .releaseClass img{
        width: 90px !important;
        height: 90px !important;
    }
}

@media only screen and (max-width: 710px) {
    
    .mobile-hide  {
        display: none;
    } 
    .logo-section{
        width:20%;
        margin-left:1rem;
    }
    .mobile-row input, .mobile-row  button {
        width: auto;
        display:none;
        margin-left:auto;
    } 

    .w-30-mobile{
        width:30% !important;
    }
    .px-0-mobile{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .mx-0-mobile{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
      
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .col{
      flex-direction: column;
  }
  .mobile{
      display: flex !important;
  }

  .logo-section{
    width:25%;
    margin-left: 1rem;
  }
  .releaseClass{
        min-width: 320px !important;
        max-width: 320px !important;
        font-size:90%;
    }
    .mobile-sm-hide{
        display: none !important;
    }

    .w-30-mobile{
        width:30% !important;
    }
    .justify-around-mobile-start{
        justify-content: flex-start !important;
    }
    

}