<template>
        <div class="h-100 min-h-100 backdrop">
            <div v-if="!authStatus" class="row h-100-vh align-center justify-center " >
                <div class="col">
                    <div class="login" key="login" v-show="!showReset">
                                <img :src="poolLogo" alt="pool-logo">
                                <img :src="poolIcon" alt="pool-icon" style="height:85px;background-color:rgb(165 37 37) 1px 1px 8px;">
                                
                        <!--  <div class="container-loading">
                                <img src="../../../../public/assets/images/spinner.gif" alt="Loading Icon">
                            </div> -->

                            <form @submit.prevent="loginSubmit">
                                <input id="emailinput" type="email" placeholder="E-Mail" v-model="email" @input="clearLoginError">
                                <input type="password" placeholder="Password" v-model="password" @input="clearLoginError">

                                <div class="row">
                                    <div class="mr-auto">
                                        <button id="forgotPasswordBtn" type="button" class="main-font-semi" @click.prevent="resetPassword">Forgot Password</button>
                                    </div>
                                    <div class="ml-auto">
                                        <button id="loginBtn" type="submit" class="main-font-semi">Login</button>
                                    </div>
                                </div>

                                <div key="authMsg"  v-show="!loginError && loggingIn" class="error main-font-bold">Signing In...</div>

                                <div key="errorMsg" v-show="loginError && !loggingIn" class="error main-font-bold">
                                    {{ error }}
                                </div>
                            </form>
                        </div>

                        <div key="reset" v-show="showReset" class="login">
                            <h4 class="main-font-bold" style="color:#fff; text-shadow:0.5px 0px 0px #000;">Request Password Reset</h4>
                            <form @submit.prevent="requestNewPassword()">
                                <input type="email" placeholder="E-Mail" v-model="resetEmail"  @input="clearResetError">
                                <div class="row">
                                    <div class="col">
                                        <button id="passwordResetBtn" type="submit" class="main-font-semi mr-auto">Submit Password Reset</button>
                                        <button id="cancelBtn" type="button" class="main-font-semi ml-auto" @click="backToLogin">Cancel Password Reset</button>
                                    </div>
                                </div>
                                <transition name="fade" mode="out-in">
                                    <div v-show="resetError" class="error main-font-bold">
                                        {{ resetErrorMsg }}
                                    </div>
                                </transition>
                                <transition name="fade" mode="out-in">
                                    <div v-show="!resetError" class="success main-font-bold">
                                        {{ successMsg }}
                                    </div>
                                </transition>
                            </form>
                        </div>
                </div>
                        
                </div>
            </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        poolLogo: require("../../assets/images/PO_Logo_white.png"),
        poolIcon: require("../../assets/images/pool_logo.png"),
        email: '',
        resetEmail: '',
        password: '',
        resettingPassword: false,
        resetErrorMsg: "",
        successMsg: "",
        resetError: false,
        showReset: false
      }
    },
    computed: {
      ...mapGetters([
        'loggingIn',
        'loginError',
        'accessToken',
        'authStatus'
      ]),

      error: function(){
          if(this.loginError === "Invalid email and password combination."){
              return "Invalid Password and Email combination"
          }
          else{
              return ""
          }
      }

    },
    methods: {
      ...mapActions([
        'login',
        'doLogout',
        'clearLoginError',
      ]),
      loginSubmit() {
            this.login({
                email: this.email,
                password: this.password
            })
        },
        clearResetError: function(){
            this.resetError = false;
            this.resetErrorMsg = "";
            this.resettingPassword = false;
        },
        // user presses reset password
        resetPassword: function(){
            this.clearLoginError();
            this.clearResetError();
            this.showReset = true;

            if(this.email && !this.loginError){
                this.resetEmail = this.email
            }
            else{
                this.resetEmail = ""
            }
        },
        // send ajax to reset password
        requestNewPassword: function(){
            // if we're not currently requesting a password change
            if(!this.resettingPassword){
                // mark that we are resetting the password
                this.resettingPassword = true;
                // check that the email is not blank
                if(this.resetEmail.trim() == ""){
                    this.resetError = true;
                    this.resetErrorMsg = "Email cannot be blank."
                    this.resettingPassword = true;
                }
                else{
                    // ajax
                    /* $.ajax({
                        type: "POST",
                        url: "https://api.promoonly.com/password/reset",
                        data: { email: this.resetEmail.trim() },
                        dataType: "json",
                        success: (data) =>
                        {
                            console.log(data)
                            if(data.reset_email != undefined){
                                this.resettingPassword = false;
                                this.resetError = false;
                                this.resetErrorMsg = "";
                                this.successMsg = "Success: Password reset email sent."

                            }
                            else{
                                this.resettingPassword = false;
                                this.resetError = true;
                                this.resetErrorMsg = "Error: Confirm email address before trying again.";

                            }
                        },
                        error: (data) =>
                        {
                            this.resettingPassword = false;
                            this.resetError = true;
                            this.resetErrorMsg = "Error: Confirm email address before trying again.";
                        }
                    }); */

                }
            }
            else{
                alert("resetting already in progress");
            }
        },
        backToLogin: function(){
            this.showReset = false;
            this.resettingPassword = false;
            this.resetEmail = '';
            this.clearResetError();
        }

    },

    created(){
        this.clearLoginError();
    },
    activated(){
        //this.$bvModal.show('loginModal');
    },
    mounted(){
        //this.$bvModal.show('loginModal');
        //document.getElementById("emailinput").focus();
    },
    deactivated(){
        //this.$bvModal.hide('loginModal');
    }
  }
</script>


<style lang="css" scoped>
    .fade-enter-active {
        transition: all .45s ease;
    }

    .fade-leave-active {
        transition: all .25s ease;
    }

    /* .fade-enter defines the starting state for entering */
    /* .fade-leave defines the ending state for leaving */
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .fa-refresh:hover{
        cursor:pointer;
        color: rgb(208, 20, 30)!important;
    }
    .login {
        padding: 1.5rem;
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-clip: padding-box;
        border-radius: .5rem;
        outline: 0;
    }

    .login .container-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .1);
    }

    .login .container-loading img {
        width: 2rem;
        height: 2rem;
    }

    .login form {
        display: flex;
        flex-flow: column;
    }


    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #c32929;
        opacity: 1; /* Firefox */
        text-shadow: .5px .5px .5px #310d0d;

    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #c32929;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #c32929;
    }

    .login form *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .login form input {
        padding: 0.5rem;
        border: 1px solid #900c0c;
        border-radius: 3px;
        background-color:#8a1717;
        color: #dedede;
    }

    .login form input:focus{
        outline: 1px solid #f2f2f2;
        border-radius:3px;
        box-shadow: 1px 1px 5px #f2f2f2;
    }

    .login form button {
        width: 100%;
        background-color: #8a1717;
        padding: 0.5rem;
        border-radius: 3px;
        border: 1.5px solid #900c0c;
        cursor: pointer;
        color: #c32929;
        text-shadow: 0.5px 0.5px 0.5px #631b1b;
    }


    .login form button:hover {
        background-color:#d47c7c !important;
        color: darkred;
        border: 1.5px solid darkred;
    }

     .login form button:focus{
        outline: 1px solid #f2f2f2;
        border-radius:3px;
        box-shadow: 1px 1px 5px #f2f2f2;
     }

    @-webkit-keyframes autofill {
        0%,100% {
            color: #dedede !important;
            background: #8a1717 !important;
        }
    }

    input:-internal-autofill-selected {
        background-color: #8a1717 !important;
        color: #dedede !important;
    }
    input:-webkit-autofill {
        -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

    .error{
        letter-spacing: 1.3px;
        color: #d4d3d3;
        /* text-transform: uppercase; */
        font-size: 1rem;
        text-shadow: 0.5px 0px 0.5px black;
    }

    .success{
        letter-spacing: 1.3px;
        color: rgb(36 193 84);
        font-size: 1rem;
        text-shadow: 0.5px 0px 0.5px black;
    }

    img{
        height:100px;
        margin-bottom: 5px;
        border-radius: 100%;
    }


    .rotate {
        animation: rotation 2.2s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    >>>.modal-backdrop{
        opacity: 1 !important;
        background-image: linear-gradient(to bottom right, #d3222b, firebrick);
    }

    .backdrop{
        opacity: 1 !important;
        background-image: linear-gradient(to bottom right, #d3222b, firebrick);
    }

    >>>.modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 10px solid #e0e0e0;
        border-radius: .5rem;
        outline: 0;
    }

    >>>.modal-body{
        padding: 0px !important;
    }
</style>
